@model Going.Plaid.Transactions.TransactionsGetResponse

<h2>Item</h2>

        <table>
            <tr>
                <td>ItemId</td>
                <td>@Model.Item.ItemId</td>
            </tr>
            <tr>
                <td>InstitutionId</td>
                <td>@Model.Item.InstitutionId</td>
            </tr>
            <tr>
                <td>Products</td>
                <td>@string.Join(',',Model.Item.Products.Select(x=>x.ToString()))</td>
            </tr>
            <tr>
                <td>UpdateType</td>
                <td>@Model.Item.UpdateType</td>
            </tr>
        </table>

<h2>Accounts</h2>
    @foreach(var account in Model.Accounts)
    {
        <h4>@account.Name</h4>
        <table>
            <tr>
                <td>OfficialName</td>
                <td>@account.OfficialName</td>
            </tr>
            <tr>
                <td>AccountId</td>
                <td>@account.AccountId</td>
            </tr>
            <tr>
                <td>Mask</td>
                <td>@account.Mask</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>@account.Type</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@account.VerificationStatus</td>
            </tr>
        </table>
    }
<h2>Transactions</h2>
<p>Total: @Model.TotalTransactions</p>
<table>
    @foreach(var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Name</td>
            <td>@transaction.Amount.ToString("C2")</td>
            <td>@transaction.Date.ToShortDateString()</td>
            <td>@Model.Accounts.Where(x=>x.AccountId == transaction.AccountId).SingleOrDefault()?.Name</td>
        </tr>
    }
</table>