@model Going.Plaid.Transactions.TransactionsGetResponse

@await Html.PartialAsync("_ItemViewPartial.cshtml",Model.Item);

<h2>Accounts</h2>
    @foreach(var account in Model.Accounts)
    {
        <h4>@account.Name</h4>
        <table>
            <tr>
                <th class="right">Name</th>
                <td>@account.Name</td>
            </tr>
            <tr>
                <th class="right">OfficialName</th>
                <td>@account.OfficialName</td>
            </tr>
            <tr>
                <th class="right">AccountId</th>
                <td>@account.AccountId</td>
            </tr>
            <tr>
                <th class="right">Mask</th>
                <td>@account.Mask</td>
            </tr>
            <tr>
                <th class="right">Type</th>
                <td>@account.Type</td>
            </tr>
            <tr>
                <th class="right">Status</th>
                <td>@account.VerificationStatus</td>
            </tr>
        </table>
    }
<h2>Transactions</h2>
<p>Total: @Model.TotalTransactions</p>
<table>
    <tr>
        <th>Name</th>
        <th class="right">Amount</th>
        <th class="right">Date</th>
        <th>Category</th>
        <th>Channel</th>
        <th>Account</th>
        <th>TransactionId</th>
    </tr>

    @foreach(var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Name</td>
            <td class="right">@transaction.Amount.ToString("C2")</td>
            <td class="right">@transaction.Date.ToShortDateString()</td>
            <td>@string.Join(':',transaction.Category)</td>
            <td>@transaction.PaymentChannel</td>
            <td>@Model.Accounts.Where(x=>x.AccountId == transaction.AccountId).SingleOrDefault()?.Name</td>
            <td>@transaction.TransactionId</td>
        </tr>
    }
</table>